body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
}


/*
  -- Navbar
*/

header {
  display: flex;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
}

header h1 {
  font-size: 32px;
  align-self: center;
  text-transform: uppercase;
}

header img {
  padding-left: 24px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-left: 30px;
}

nav span {
  padding-right: 16px;
}

nav span:last-child {
  padding-right: 24px;
}

nav span a {
  color: black;
  text-decoration: none;
}

/*
  -- First Section
*/

#section-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: grey;
  top: 64px;
}

#section-1 h1 {
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: bold;
}

#section-1 p {
  margin-bottom: 12px;
}

#section-1 button {
  padding: 8px;
  background-color: black;
  color: white;
}

#section-1 #content {
  width: 270px;
  display: flex;
  flex-direction: column;
}

#section-1 img {
  padding: 32px 24px;
  width: 60%;
}

/*
  -- Second Section
*/

#section-2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

#section-2 #left-col {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#section-2 #right-col {
  width: 40%;
  margin-left: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

#tab img {
  width: 35%;
  height: auto;
  padding: 16px;
}

#tab #content {
  width: 65%;
}

#section-2 #left-col p,
#section-2 #left-col h1 {
  padding-left: 24px;
  width: 60%;
}

#section-2 h1 {
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: bold;
}

#section-2 img {
  padding: 32px 24px;
  width: 100%;
}




#section-3 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: grey;
}



























footer {
  height: 200px;
  text-align: center;
}
